# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# PHP / Composer
vendor/
composer.lock

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Build
dist/
build/
*.zip

# WordPress
wp-config.php
